@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap');

  $primary: rgb(125, 125, 125);
  $secondary: #ffd724;

  

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  color: black;
}

.navbar{
  //background-color: rgb(85, 85, 85);

  .nav-link{
    cursor: pointer;
  }
}
// Sequencer Components 
.instrument-grid-container{
  display: flex;
}

.drum-grid-container{
  display: flex;
  flex-direction: column;
}

.drum-row-container{
  display: flex;
  flex-direction: row;
}

// Track Component
.track-wrapper{
  height: 50px;
  background-color: $secondary;
  margin: 5px;
}


