@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap');

  $primary: rgb(249, 249, 249);
  $secondary: #ffd724;

  

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  color: black;
}

.navbar{
  //background-color: rgb(85, 85, 85);

  .nav-link{
    cursor: pointer;
  }
}
// ? Sequencer Components 
.instrument-grid-container{
  display: flex;
}

.drum-grid-container{
  display: flex;
  flex-direction: column;
}

.drum-row-container{
  display: flex;
  flex-direction: row;
}

// ? Track Component
.track-wrapper{
  height: 50px;
  background-color: $secondary;
  margin: 5px;
}

// ? Login Page
// Research border color + position
.login-component-wrapper{
  padding-top: 10px;
  background-color: $primary;
  border-left: 1px;
  border-color: $secondary;

  .btn{
    background-color: $secondary;
    border-radius: 0;
  }

  input{
    border-style: none;
    border-radius: 0;
    border-left: 2px;
    
  }
}

