// @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  $primary: rgb(251, 250, 250);
  $secondary: #ffd724;
  $tertiary: #7d7d7d;

// ? Generic styles
* {
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  color: #575757;
}

.btn{
  background-color: $secondary;
  border-radius: 0;
}

.btn:hover {
  background-color: darken($secondary, 8%)
}

.text-yellow{
  color: $secondary;
  font-size: 100%;
  // h4{
  //   font-size: 28px;
  // }
}

.page-wrapper {
  max-width: 1000px;
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

// ? Navbar
.navbar{

  .nav-link{
    cursor: pointer;
  }
  
}
.navbar-span {
    font-size: 20px;
  }
  
.component-wrapper{
  background-color: $primary;
}

// ? Sequencer Components 
.instrument-grid-container{
  display: flex;

}

.drum-grid-container{
  display: flex;
  flex-direction: column;
}

.drum-row-container{
  display: flex;
  flex-direction: row;
}

.sequencer-container {
  margin: 0;
  padding: 0;
}




// ? Login Page
// Research border color + position


.login-component-wrapper{
  padding-top: 10px;
  background-color: $primary;
  border-color: $secondary;

input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-style: none;
    border-radius: 0;
    max-width: 95%;

    ::placeholder {
      color: lighten($tertiary, 40%);
      opacity: 1;
    }
  input[type=text] {
    border: 2px solid $secondary;
    border-radius: 0;
  }
}
}

// ? Fragment Index Page
.midi-sounds-div{
  display: flex;
  flex-direction: column;
  align-content: center;
  visibility: hidden;
}

.fragment-title{
  background-color: $tertiary;
  display: flex;
  justify-content: center;

  h4{
    margin: 5px;
    color: white;
  }
}

.login-toast-container {
  .login-toast {
    .toast-header {
     background-color: $secondary;
     strong{
      color: $tertiary;
     }
     button{
      color: white;
     }
    }
  }
}

.fragments-wrapper {
  margin-top: 20px;
  .fragment-card{
    background-color: $tertiary;
    color: $tertiary;
    display: flex;
    text-align: center;
    border-style: none;
    border-radius: 18;
    margin: 5px;
    //height: 400px;
    min-height: 400px;
    background-image: url(../images/card-background-5.png);
    background-repeat: none;
    background-size: cover ;
    background-repeat: none;
    background-position: 0 -1px;
    border-radius: 6px;
  }
  .card-text{
    font-family: 'Bebas Neue', cursive;
    color: $tertiary;
    background-color: white;
  }
  .card-text-tempo{
    color: $secondary;
  }
}

// ? Track Component
.track-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  background-color: lighten($secondary, 0%);
  margin: 5px;
  //border: 5px solid darken($secondary, 8%);
}

// ? Create Fragment 
.create-fragment-wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;

  .fragment-form{
    align-items: center;
    margin-top: 20px;

    label {
      margin-right: 10px;
      margin-left: 5px;
    }

    input {
      border-radius: 0;
      border-style: none;
      height: 40px;
      outline: #fff3bd;
    }

    input:focus{
      border: 2px solid #fff3bd;
    }

  }

  .btn {
    margin-left: 10px;
    color: darken($tertiary, 10%);
  }
}

// ? Edit Fragment Page
.sequencer-container {
  height: 400px;

  button {
    margin-left: 10px;
  }
}

.sequencer-div {
  background-color: #575757;
}
.grid-cell {
  border: 0.2px solid $primary;
}
input, label {
  margin-left: 10px;
}

// ? User Profile Page
.user-fragments {
  margin-left: 20px;

.fragment-track{
  background-image: url(../images/card-background-5.png);
  background-repeat: none;
    background-size: cover ;
    background-repeat: none;
    border-style: none;
}


  .buttons {
    flex-grow: 1;
    justify-content: space-around;
  }
}

.profile-container {
  max-width: 200px;
}









